*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Rubik", sans-serif;    
    }
/*---------------------------------------------------------------------------------------------------------------------*/
/*Estilos de pestaña inicio*/

header{
    background-color:  #0683c2 ;    
}

.container-fluid{
    background-color:  #0683c2 ; 
}

header{
    position:sticky;
    top:0;
    z-index: 1000;
}


.logonav {
    width: 5rem;    
}

.hero-section{
    background-color: #bed4de ;
    height: 100vh;
}
.card{
    background-color: #bed4de ;
    border: none;
}

.card-tittle{
    margin: 30px;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*Estilos de pestaña proyectos*/

.proyecto{
    background-color: #bed4de;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity:0.9;
    border-radius: 20px;
    
}

.proyectos-body{
    background-image: url(../img/fondo-proyecto.jpg) ;
    background-size: cover;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*Estilos de pestaña contacto*/

.formulario{
    margin-top: 100px;
}

.contacto-body{
    background-color: #bed4de ;
}